.fd_00 {
    width: 400px;
}

.legend_00 {
    font-weight: bold;
    font-size: 14pt;
}

.label_00 {
    float: left;
    font-size: 13px;
    width: 110px;
}

#ok {
    /*text-align 속성은 일반 텍스트나 레이어로 감싸진 텍스트를 중앙 정렬할 때 쓰이므로
    input 에다가 써버리면 x 따라서 div 나 span 태그로 한 번 감쌀 것*/
    text-align: center;
    margin-top: -7px;
    margin-bottom: -10px;
}

#submit_00 {
    width: 100px;
    height: 30px;
    border-radius: 30px;
    size: 100px;
}